@using AddItemsDynamically.Models
@model AddItemsDynamically.Models.OrderItem

<div class="row">
    <div class="col-md-4">
        <div class="form-group disabled-input">
            <label asp-for="OrderItemNo" class="control-label" data-tooltip="OrderItemNo"></label>
            <input id="Items_@(Model.OrderItemNo-1)__OrderItemNo" class="form-control" value="@Model.OrderItemNo" type="number" disabled >
            <input type="hidden" name="Items[@(Model.OrderItemNo-1)].OrderItemNo" value="@Model.OrderItemNo"/>
        </div>
    </div>
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ProductName" class="control-label"></label>
            <input id="Items_@(Model.OrderItemNo-1)__ProductName" name="Items[@(Model.OrderItemNo-1)].ProductName" value="@Model.ProductName" type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Quantity" class="control-label"></label>
            <input id="Items_@(Model.OrderItemNo-1)__Quantity" name="Items[@(Model.OrderItemNo-1)].Quantity" value="@Model.Quantity" type="number" Step="any" class="form-control">
        </div>
    </div>
</div>